<section id="{{ value.anchor_id }}" class="container pt-5 pb-5 content-page">
  <div class="container align-items-center justify-content-center mt-5 pb-5">
    <div class="row justify-content-center pt-4">
      <div class="col-12 col-md-8">
        <div class="eyebrow">
          {{ value.pre_title }}
        </div>
        <div>
          <h1>{{ value.title }}</h1>
        </div>
      </div>
    </div>

    <div class="row justify-content-center pt-4">
      <div class="col-12 col-md-8">
        <div class="d-flex flex-column">
          {{ value.content }}
        </div>
      </div>
    </div>
  </div>
</section>
