<a href="{{ value.url }}" class="text-decoration-none" target="_blank" rel="noopener noreferrer">
  <div class="card h-100">
    {% if value.include_image %}
      <img src="{{ value.image_url }}" class="card-img-top" alt="Artikel Preview" />
    {% else %}
      <div class="bg-secondary-subtle bg-card-img-placeholder d-flex align-items-center justify-content-center rounded-top">
        <i class="bi bi-newspaper fs-1 text-secondary"></i>
      </div>
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ value.title }}</h5>
      <p class="card-text">{{ value.source_name }}</p>
    </div>
  </div>
</a>
