{% load static nav_tags %}

{% get_navigation as navigation %}

<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container">
    {# djlint:off D018 #}
    <a class="navbar-brand ff-rubik" href="/">{# djlint:on #}
      <div class="d-flex align-items-center">
        <img src="{% static 'core/img/logos/ddcs_logo_oneline.svg' %}" alt="Dein Feed, Deine Wahl Logo" height="32px" />
      </div>
    </a>
    {% if navigation.nav_anchors or navigation.nav_links %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    {% endif %}
    <nav class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% for link in navigation.nav_anchors %}
          <li class="nav-item px-1">
            <a class="nav-link" href="{{ link.url }}">{{ link.label }}</a>
          </li>
        {% endfor %}

        {% for link in navigation.nav_links %}
          <li class="nav-item px-1">
            <a class="nav-link" href="{{ link.url }}">{{ link.label }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</nav>
