{% extends "website/base.html" %}

{% load i18n %}

{% block head_seo_tags %}
  {# No SEO tags needed #}
{% endblock head_seo_tags %}

{% block extra_head %}
  {# Prevent indexing of private pages #}
  <meta name="robots" content="noindex, nofollow" />
{% endblock extra_head %}

{% block title %}
  {% trans "Something went wrong" %}
{% endblock title %}

{% block content %}
  <h1>{% trans "Something went wrong on our end" %}</h1>
  <p>
    {% url 'landing_page' as contact_url %}
    {% blocktrans trimmed %}
      We're sorry for the inconvenience. This error has been logged and we'll look into it.
      If the problem persists, please <a href="{{ contact_url }}">get in touch</a>.
    {% endblocktrans %}
  </p>
{% endblock content %}
