{% extends "website/base.html" %}

{% load static %}

{% block page_title %}Impressum{% endblock page_title %}

{% block main %}

  {% include "website/impressum/navbar.html" %}

  <div class="container align-items-center justify-content-center mt-5 pb-5">
    <div class="row justify-content-center pt-4">
      <div class="col-12 col-md-8">
        <div class="mb-3 text-hero-subtitle">
          Rechtliches
        </div>

        <div>
          <h1>Impressum</h1>
        </div>

        <div>
          Stand 19.04.2026
        </div>

      </div>
    </div>

    <div class="row justify-content-center pt-4">
      <div class="col-12 col-md-8">
        <h2>Verantwortliche Institution</h2>

        <div>
          <div>Weizenbaum-Institut e. V.</div>
        </div>

        <div>
          <div>Hardenbergstraße 32, 10623 Berlin, Deutschland</div>
        </div>

      </div>
    </div>

    <div class="row justify-content-center pt-4">
      <div class="col-12 col-md-8">
        <h2>Projektverantwortlichkeit</h2>

        <div>
          <div class="impressum-title">Forschungsgruppe</div>
          <div>Dynamiken der digitalen Nachrichtenvermittlung</div>
        </div>

        <div>
          <div class="impressum-title">Verantwortliche Person</div>
          <div>Dr. Jakob Ohme</div>
        </div>

        <div>
          <div class="impressum-title">E-Mail</div>
          <div>jakob.ohme@weizenbaum-institut.de</div>
        </div>

      </div>
    </div>

    <div class="row justify-content-center pt-4">
      <div class="col-12 col-md-8">
        <h2>Förderung & Finanzierung</h2>

        <div>
          <p class="fw-bolder">
            Dieses Projekt ist gefördert durch das
            <a href="https://www.bmftr.bund.de" target="_blank">Bundesministerium für Forschung, Technologie und Raumfahrt</a>.
          </p>
          <p>
            Die inhaltliche Verantwortung für dieses Projekt liegt ausschließlich bei den Projektverantwortlichen.
            Die Förderinstitution nimmt keinen Einfluss auf Inhalte oder Ergebnisse.
          </p>
        </div>

      </div>
    </div>

    <div class="row justify-content-center pt-4">
      <div class="col-12 col-md-8">
        <h2>Haftungshinweis</h2>

        <div>
          <p>
            Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links.
            Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
          </p>
          <p>
            Die auf dieser Website bereitgestellten Inhalte dienen ausschließlich zu Informationszwecken im
            Rahmen des Forschungsprojekts. Eine Gewähr für Aktualität, Vollständigkeit oder Richtigkeit
            kann nicht übernommen werden.
          </p>
        </div>

      </div>
    </div>

    <div class="row justify-content-center pt-4">
      <div class="col-12 col-md-8">
        <h2>Urheberrecht</h2>

        <div>
          <p>
            Die im Rahmen dieses Projekts erstellten Inhalte und Werke auf dieser Webseite unterliegen dem deutschen Urheberrecht.
            Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des
            Urheberrechtes bedürfen der schriftlichen Zustimmung.
          </p>
        </div>

      </div>
    </div>

  </div>

  {% include "website/footer.html" %}

{% endblock main %}
