{% extends "website/base.html" %}

{% load static %}

{% block page_title %}Datenschutz{% endblock page_title %}

{% block main %}

  {% include "website/dps/navbar.html" %}

  <div class="container align-items-center justify-content-center mt-5 pb-5">
    <div class="row justify-content-center pt-4">
      <div class="col-12 col-md-8">
        <div class="mb-3 text-hero-subtitle">
          Rechtliches
        </div>

        <div>
          <h1>Datenschutzerklärung</h1>
        </div>

        <div>
          Stand 19.04.2026
        </div>

      </div>
    </div>

    <div class="row justify-content-center pt-4">
      <div class="col-12 col-md-8">
        <h2>1. Welche Daten wir erheben</h2>

        <div>
          <p>
            Diese Website verwendet keine Tracking-Cookies und keine Analyse-Tools von Drittanbietern.
          </p>

          <p>
            Beim Besuch dieser Website werden automatisch durch den Webserver technische Zugriffsdaten
            (sog. Server-Logfiles) erfasst. Dazu gehören:
          </p>

          <p>< zu ergänzen ></p>  {# TODO #}

          <p>
            Eine Zusammenführung dieser Daten mit anderen Datenquellen findet nicht statt.
            Die IP-Adresse wird unmittelbar nach der Erfassung anonymisiert.
          </p>

        </div>

      </div>
    </div>

    <div class="row justify-content-center pt-4">
      <div class="col-12 col-md-8">
        <h2>2. Zweck der Verarbeitung</h2>

        <div>
          <p>
            Die Verarbeitung der Server-Logfiles dient ausschließlich dem technischen Betrieb und der Sicherheit der Webseite.
            Eine darüber hinausgehende Nutzung oder Weitergabe an Dritte findet nicht statt.
          </p>

        </div>

      </div>
    </div>

    <div class="row justify-content-center pt-4">
      <div class="col-12 col-md-8">
        <h2>3. Speicherung der Daten</h2>

        <div>
          <p>
            Unsere Daten werden auf Servern gespeichert, die von der netcup GmbH betrieben werden.
            Die Server befinden sich in Deutschland und sind DSGVO-konform.
          </p>

        </div>

      </div>
    </div>

    <div class="row justify-content-center pt-4">
      <div class="col-12 col-md-8">
        <h2>4. Ihre Datenschutzrechte</h2>

        <div>
          <p>
            Gemäß DSGVO hat jede betroffene Person das Recht auf:
          </p>

          <ul>
            <li>Auskunft (nach Art. 15 DSGVO)</li>
            <li>Berichtigung (nach Art. 16 DSGVO)</li>
            <li>Löschung (nach Art. 17 DSGVO)</li>
            <li>Einschränkung der Verarbeitung (nach Art. 18 DSGVO)</li>
            <li>Datenübertragbarkeit (nach Art. 20 DSGVO)</li>
            <li>Recht auf Widerspruch (nach Art. 21 DSGVO)</li>
          </ul>

          <p>
            Beim Auskunftsrecht und beim Löschungsrecht gelten die Einschränkungen nach §§ 34 und 35 BDSG.
          </p>
          <p>
            Darüber hinaus besteht ein Beschwerderecht bei einer Datenschutzaufsichtsbehörde (Art.13 Abs. 2 lit. d i.V.m. Art. 14 Abs. 2 lit. D DSGVO, Art. 77 DSGVO i.V.m. § 19 BDSG).
          </p>
          <p>
            Der Text der DSGVO findet sich im Internet unter www.dsgvo-gesetz.de sowie der Text des BDSG unter <a href="https://www.gesetze-im-internet.de/bdsg_2018/" target="_blank">www.gesetze-im-internet.de/bdsg_2018/</a>
          </p>
          <p>
            Automatisierte Entscheidungsfindung im Sinne des Art. 22 DSGVO wird nicht verwendet.
          </p>

        </div>

      </div>
    </div>

    <div class="row justify-content-center pt-4">
      <div class="col-12 col-md-8">
        <h2>5. Einsatz von Cookies</h2>

        <div>
          <p>
            Cookies sind Textdateien, die auf Ihrem Computer gespeichert werden, um standardmäßige
            Informationen und Daten zum Besucherverhalten zu erfassen.
            Diese Webseite verwendet ausschließlich technisch notwendige Cookies für grundlegende Funktionen wie Sitzungsverwaltung und Sicherheit.
            Wir setzen keine Cookies für Analyse, Werbung oder Tracking ein.
            <a href="#" data-cc="show-preferencesModal">Hier finden Sie eine Liste der Cookie-Informationen</a>, die wir für den reibungslosen Betrieb der Webseite speichern.
          </p>

        </div>

      </div>
    </div>

    <div class="row justify-content-center pt-4">
      <div class="col-12 col-md-8">
        <h2>6. Datenschutzerklärungen anderer Webseiten</h2>

        <div>
          <p>
            Diese Webseite enthält Links zu anderen Webseiten. Unsere Datenschutzerklärung gilt nur für unsere Webseite.
            Wenn Sie auf einen Link zu einer anderen Website klicken, gilt unsere Datenschutzerklärung nicht länger.
          </p>

        </div>

      </div>
    </div>

    <div class="row justify-content-center pt-4">
      <div class="col-12 col-md-8">
        <h2>7. Änderungen an unserer Datenschutzerklärung</h2>

        <div>
          <p>
            Wir überprüfen unsere Datenschutzerklärung regelmäßig und veröffentlicht etwaige Aktualisierungen auf dieser Webseite.
            Diese Datenschutzerklärung wurde zuletzt am 19. April 2026 aktualisiert.
          </p>

        </div>

      </div>
    </div>

    <div class="row justify-content-center pt-4">
      <div class="col-12 col-md-8">
        <h2>8. Kontakt</h2>

        <div>
          <p>
            Bei Fragen zur Webseite oder unserer Studie wenden Sie sich bitte an den verantwortlichen Forscher:
            Dr. Jakob Ohme (<a href="mailto:jakob.ohme@weizenbaum-institut.de">jakob.ohme@weizenbaum-institut.de</a>).
          </p>

        </div>

      </div>
    </div>

    <div class="row justify-content-center pt-4">
      <div class="col-12 col-md-8">
        <h2>9. So wenden Sie sich an die zuständige Behörde</h2>

        <div>
          <p>
            Für Beschwerden über die Studie oder die Forschung können Sie sich an den benannten Datenschutzbeauftragten
            des Weizenbaum-Instituts e.V. wenden (<a href="mailto:datenschutz@weizenbaum-institut.de">datenschutz@weizenbaum-institut.de</a>.
            Alle Beschwerden und Anmerkungen werden vertraulich behandelt.
          </p>

        </div>

      </div>
    </div>

  </div>

  {% include "website/footer.html" %}

{% endblock main %}
