{% load i18n static %}

<div id="check-download-availability"
     hx-get="{% url 'datadonation:tiktok_check_request' %}"
     hx-trigger="load delay:15s"
     hx-swap="outerHTML">
  <div class="border border-secondary rounded bg-light p-3">
    <p class="mb-0">
      {% translate "Wir warten darauf, dass deine TikTok-Daten verfügbar sind. Das kann einige Sekunden dauern." %}
    </p>
    <div class="col-auto">
      <img src="{% static 'core/img/ddcs_load_icon.svg' %}" alt="Dein Feed, Deine Wahl Ladeicon" height="100px" />
    </div>
    {% if poll_datetime %}
    <p class="mb-0">
      {% translate "Verfügbarkeit zuletzt geprüft am" %} {{ poll_datetime }}
    </p>
    {% endif %}
  </div>
</div>
