{% load i18n static %}

<div id="check-download-availability"
  hx-get="{% url 'datadonation:tiktok_check_request' %}"
  hx-trigger="load delay:10s"
  hx-swap="outerHTML">
  <div>
    <p class="mb-0">
      {% translate "Wir warten darauf, dass deine TikTok-Daten verfügbar sind. Das kann einige Sekunden dauern." %}
    </p>
    <div class="col-auto pt-3">
      <img src="{% static 'core/img/ddcs_load_icon.svg' %}" alt="Dein Feed, Deine Wahl Ladeicon" height="100px" />
    </div>

    {% if show_reminder_message %}
      {% csrf_token %}
      <div id="study-link-reminder" data-send-url="{% url 'datadonation:send_study_link' %}">
        <p>
          Zurzeit scheint eine Spende aufgrund technischer Probleme bei TikTok
          länger zu dauern als üblich. Probiere es am besten morgen noch einmal.
        </p>
        <p>
          Wenn du möchtest, können wir dir dafür den Teilnahme-Link als
          Erinnerung per E-Mail zusenden:
        </p>
        <input id="email-input" class="w-100 mt-2" name="email" type="email" autocomplete="email" />
        <button id="send-email-button" class="btn btn-primary-dfdw cta-btn" type="button">Link senden</button>
        <div id="email-feedback" class="mt-2" role="status" aria-live="polite"></div>
      </div>
    {% endif %}

    {% if poll_datetime %}
      <p class="mb-0 pt-3">
        {% translate "Verfügbarkeit zuletzt geprüft am" %} {{ poll_datetime }}
      </p>
    {% endif %}
  </div>
</div>
