{% load static %}

<div id="participation" class="container pt-5 pb-5 border-bottom align-items-center">
  <div class="row">

    <div class="col-12 py-5">

      <div class="fs-6 mb-3 text-hero-subtitle">
        So funktioniert die Teilnahme
      </div>

      <div>
        <h2>Drei einfache Schritte</h2>
      </div>

      <div class="row pt-2 pb-4">

        <div class="col-4">
          <div class="card h-100 text-bg-light step-card">
            <div class="card-body">
              <p><span class="participation-step-indicator">1</span></p>
              <h3>TikTok-Daten anfordern</h3>
              <p>Du loggst dich bei TikTok ein und forderst deine Daten an.</p>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card h-100 text-bg-light step-card">
            <div class="card-body">
              <p><span class="participation-step-indicator">2</span></p>
              <h3>Daten prüfen und übermitteln</h3>
              <p>
                TikTok gibt dir Zugriff auf deine Daten. Du schaust die Daten in Ruhe an und entscheidest,
                welche Daten du teilst.
              </p>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card h-100 text-bg-light step-card">
            <div class="card-body">
              <p><span class="participation-step-indicator">3</span></p>
              <h3>Einige Fragen beantworten</h3>
              <p>
                Zum Schluss beantwortest du einige Fragen und erhältst dann einen personalisierten Report zu
                deiner TikTok-Nutzung.
              </p>
            </div>
          </div>
        </div>

      </div>

      <div>
        <p>
          Die Teilnahme dauert nur <b>wenige Minuten</b> und ist <b>vollkommen anonym</b>.
        </p>
      </div>

      <div class="d-flex flex-row">
        <div class="me-3">
          <a href="#" class="btn btn-dark btn-primary-dfdw">
            Jetzt teilnehmen
          </a>
        </div>
      </div>

    </div>

  </div>
</div>
