{% load static %}

<div id="relevance" class="container pt-5 pb-5 border-bottom">
  <div class="row">
    <div class="col-12 col-lg-8 py-5">

      <div class="fs-6 mb-3 text-hero-subtitle">
        Weshalb deine Teilnahme wichtig ist
      </div>

      <div>
        <h2>Deine Daten machen den Unterschied</h2>
      </div>

      <div class="d-flex flex-column">
        <p class="fw-bold">
          Hast du dich auch schon gefragt, welche Rolle TikTok im Wahlkampf eigentlich wirklich spielt?
          Dann hilf uns dabei, genau diese Frage zu beantworten.
        </p>

        <p>
          Das Projekt "Dein Feed, Deine Wahl." kombiniert TikTok-Nutzungsdaten und Selbstauskünfte und erlaubt somit
          Rückschlüsse darauf, welche Personengruppen welche politischen Inhalte auf TikTok zu sehen bekommen und wie
          dies mit ihrer Wahlentscheidung zusammenhängt.
        </p>
      </div>

    </div>
  </div>
</div>
