{% extends "datadonation/base.html" %}

{% load static %}

{% block content %}
  <div class="container align-items-center justify-content-center mt-5 pb-5">
    <div class="row justify-content-center pt-4">
      <div class="col-11 col-md-8 col-xl-7 col-xxl-6">
        <div class="text-hero-subtitle mb-1">Schritt 1</div>
        <h1>Daten erfolgreich angefordert!</h1>

        <div class="row mt-5 justify-content-center align-items-center">
          {% include "datadonation/portability/partials/_data_download_pending_msg.html" %}
        </div>

      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'datadonation/send-reminder.js' %}"></script>
{% endblock extra_js %}
