{% extends "datadonation/base.html" %}
{% load i18n static %}
{% load render_bundle from webpack_loader %}
{% get_current_language as LANGUAGE_CODE %}

{% block page_title %}Datenspende{% endblock page_title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'ddm_core/css/bootstrap/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'ddm_core/css/bootstrap/bootstrap-icons.css' %}" />
  <link href="{% static 'ddm_core/css/fonts.css' %}" rel="stylesheet" />
  <link href="{% static 'ddm_participation/css/public-base.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'core/css/ddcs.css' %}" />
{% endblock css %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center pt-4 mt-5 b-3 pb-3">
      <div class="text-hero-subtitle mb-1">Abschluss</div>
      <h1>Herzlichen Dank!</h1>

      <p>
        Sie sind nun am Ende der Studie angelangt.
        Wenn Sie Ihre TikTok-Daten erfolgreich hochgeladen haben,
        wird Ihnen auf der nächsten Seite Ihr personalisierter Nutzungsreport
        angezeigt.
      </p>

      {# TODO: Handle cases where participant has not donated anything. #}

    </div>

    <a class="btn btn-dark btn-primary-dfdw" href="{% url 'reports:report' participant_id %}">zum Report</a>

  </div>
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}
