*, *::before, *::after { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
  font-size: 14px;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
  font-family: DM Sans, sans-serif !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body > section:not(#hero) {
    border-bottom: 1px solid lightgrey;
}

body > section:last-of-type {
    border-bottom: 0 !important;
}

.content-page h2 {
  padding-top: 1rem;
}
