*, *::before, *::after { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
  font-size: 14px;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
  font-family: DM Sans, sans-serif !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
