{% extends "exceptions/base.html" %}

{% load i18n %}

{% block title %}
  {% trans "Page Not Found" %}
{% endblock title %}

{% block content %}
  <h1>{% trans "Page Not Found" %}</h1>
  <p>
    {% if exception %}
      {{ exception }}
    {% else %}
      {% url "landing_page" as landing_page_url %}
      {% blocktrans trimmed %}
        This page does not exist or has been moved. Return to the
        <a href="{{ landing_page_url }}">home page</a>.
      {% endblocktrans %}
    {% endif %}
  </p>
{% endblock content %}
