{% load static %}

{% url 'website:landing_page' as landing_page_url %}

<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container">
    <a class="navbar-brand ff-rubik" href="{{ landing_page_url }}">
      Dein <span class="fw-bold">Feed</span>, Deine <span class="fw-bold">Wahl</span>.
      <img src="{% static 'core/img/favicons/ddcs_favicon.svg' %}" alt="Dein Feed, Deine Wahl." height="25px" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item px-1">
          <a class="nav-link fw-bold" href="{% url 'website:dfdw_2025' %}">Dein Feed, Deine Wahl 2025</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
